# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    stages: [pre-commit]
  - id: end-of-file-fixer
    stages: [pre-commit]
  - id: debug-statements
    stages: [pre-commit]
  - id: requirements-txt-fixer
    stages: [pre-commit]
  # kubernetes setup
  - id: trailing-whitespace
    stages: [pre-commit]
  - id: check-json
    stages: [pre-commit]
  - id: check-symlinks
    stages: [pre-commit]
  - id: check-added-large-files
    stages: [pre-commit]
  - id: detect-private-key
    stages: [pre-commit]

- repo: https://github.com/golangci/golangci-lint
  rev: v2.7.2
  hooks:
  - id: golangci-lint
    stages: [pre-commit]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.10.0
  hooks:
  - id: commitizen
    stages: [commit-msg]
